@charset "UTF-8";

/* Typical Device Breakpoints (valores que se alteram a todo momento, sempre bom pesquisar)
---------------------------------------------------------------------
Celular: de 600px até 768px
Tablet: 768pc até 992px
Desktop: 992px até 1200px
*/
    

:root {
    --cor1: (#172D40);
    --cor2: (#F2E30F);
    --cor3: (#F2BB16);
    --cor4: (#D99414);
    --cor5: (#8C6111);
}

@media screen and (min-width: 768px) {

        body {
            background-image: linear-gradient(to bottom, #172D40, #8C6111, #D99414, #F2BB16, #F2E30F  );
        }
        


        main {
            width: 75%;
            height: 40%;
            
        }

        section {
            display: flex;
            flex-direction: row;
           
            width: 100%;
            height: 100%;
        }
        
        #imagem {
            width: 30%;
            height: 263px;
            border-radius: 20px 0px 0px 20px;
            margin-right: 0px;
        }

        #formulario {
            width: 70%;
            margin-top: -10px;
            margin-left: auto;
            margin-right: auto;
        }

        

        p {
            margin: 5px 5px 5px 5px;
            font-size: 0.9em;
        }
        
       
        
        .caixa-login {
            background-color: #8C6111;
            width: 95%;
            text-align: right;
            height: 36px;
            border-radius: 5px;
            margin: 5px 5px 5px 5px;
            
            
            
        }

        
        #esqueci-senha {
            height: 35px;
            border-radius: 10px;
            font-size: 1.1em;
            color: #172D40;
            border: 1px solid #172D40;
            margin: 5px 1px;
            width: 97%;

        }


        #entrar {
            color: white;
            background-color: #172D40;
            height: 35px;
            border-radius: 10px;
            font-size: 1.1em;
            margin: 5px 1px;
            width: 97%;

        }
        
                
        #email {
            margin: 2px;
            width: 100%;
            height: 32px;
            border-radius: 5px;
           
        }

        #senha {
            margin: 2px;
            width: 100%;
            height: 32px;
            border-radius: 5px;
            

        }

}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #172D40, #8C6111, #D99414, #F2BB16, #F2E30F  );
        }

        main {
            height: 55%;
            width: 70%;
        }

        section {
            display: flex;
            padding: 0px;
            flex-direction: row-reverse;
        }

        #imagem {
            border-radius: 0px 20px 20px 0px;
            width: 50%;
            margin: 0px;
            height: 100%;
        }

        
        #formulario {
            width: 50%;
            height: 100%;
            margin: 0px;
            margin-top: 5px;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 2.5em;
        }

        p {
            font-size: 1.0em;
        }
        
        .caixa-login {
            height: 43px;
            
            
        }

        span {
            width: 10%;
            margin: auto;
        }

        #email {
            width: 100%;
            height: 39px;
            
        }

        #senha {
            width: 100%;
            height: 39px;
            
        }

        #entrar {
            height: 50px;
            margin: 2.5px auto 2.5px auto;
            margin-top: 2.5px;
            margin-bottom: 2.5px;
            
            
        }

        #esqueci-senha {
            height: 50px;
            margin: 2.5px auto 2.5px auto;
        }
}