@charset "UTF-8";

:root {
    --cor1: (#172D40);
    --cor2: (#F2E30F);
    --cor3: (#F2BB16);
    --cor4: (#D99414);
    --cor5: (#8C6111);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    position: relative;
    background-color: #D99414;
}

main {
    position: fixed;
    background-color: white;
  
    width: 255px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:  auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 5px 11px 0px black;
}

#imagem {
    height: 30vh;
    margin: -10px -10px 0px -10px;
    background-color: purple;
    background-image: url(../imagens/pexels-tejas-prajapati-586744.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;

}

h1 {
    text-align: center;
    margin: 5px;
}

p {
    margin: 10px;
    font-size: 0.9em;
}


input {
    text-align: center;
    margin: 5px;
    width: 95%;

}

#entrar {
    color: white;
    background-color: #172D40;
    height: 40px;
    border-radius: 10px;
    font-size: 1.1em;
}

#entrar:hover {
    background-color: #09121a;
}

#esqueci-senha {
    height: 40px;
    border-radius: 10px;
    font-size: 1.1em;
    color: #172D40;
    border: 1px solid #172D40;

}

#esqueci-senha:hover {
    background-color: #1a90f8c2;
}


.caixa-login {
    background-color: #8C6111;
    width: 95%;
    text-align: right;
    height: 41px;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    color: white;
    
}

span {
    width: 33px;
}

#email {
    margin: 2px;
    width: 191px;
    height: 33px;
    border-radius: 5px;
    font-size: 2.5em;
}

#senha {
    margin: 2px;
    width: 191px;
    height: 33px;
    border-radius: 5px;
    font-size: 2.5em;

}

